<div class="m-2">
    <h1>My Account</h1>
    <div class="w-100">
        <div fxLayout="row" fxLayoutGap="15" class="profile-section" *ngIf="user">
            <mat-card class="mat-elevation-z0 w-25 text-center">
                <div class="rounded-circle">
                    <img src="../../../../assets/img/empty.png" alt="profile" style="width: 100px;">
                </div>
            </mat-card>
            <mat-card class="mat-elevation-z0 w-75">
                <div fxLayout="column">
                    <div class="flex-row-reverse" fxLayout="row">
                        <div *ngFor="let role of user.role">
                            <div
                                [ngClass]="role == 'Admin' ? 'badge badge-pill bg-danger m-1' : 'badge badge-pill bg-primary m-1' ">
                                <strong style="font-size: 1rem;">{{ role }}</strong>
                            </div>
                        </div>
                    </div>
                    <strong style="font-size: 1rem; text-align: end;">
                        Joined On: {{ user.joineddate | date: 'YYYY-MM-dd' }}
                    </strong>
                </div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="user.username" placeholder="Username">
                </mat-form-field>
                <div fxLayout="row" fxLayoutGap="10" class="firstlastname-section">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Firstname</mat-label>
                        <input matInput [(ngModel)]="user.firstname" placeholder="Firstname">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Lastname</mat-label>
                        <input matInput [(ngModel)]="user.lastname" placeholder="Lastname">
                    </mat-form-field>
                </div>
            </mat-card>
        </div>
    </div>
</div>