<div class="m-2">
    <h1>My BudgetLab Dashboard</h1>
    <div *ngIf="!isLoading">
        <div class="top-dashboard-desktop" fxLayout="row" fxAlign="center">
            <div *ngFor="let item of dashboard_cards">
                <mat-card class="mat-elevation-z0" [style.background]="item.bgColor">
                    <h3 mat-card-title>
                        <strong>{{ item.title }}</strong>
                    </h3>
                    <h4>{{item.value}}</h4>
                </mat-card>
            </div>
        </div>
        <div class="top-dashboard-mobile" fxLayout="column" fxAlign="center">
            <div *ngFor="let item of dashboard_cards">
                <mat-card class="mat-elevation-z0" [style.background]="item.bgColor">
                    <h3 mat-card-title>
                        <strong>{{ item.title }}</strong>
                    </h3>
                    <h4>{{item.value}}</h4>
                </mat-card>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 w-100"
        (matSortChange)="sortData($event)">
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Description"
                sortActionDescription="Sort by description">
                Description
            </th>
            <td mat-cell *matCellDef="let expense"> {{expense.description}} </td>
        </ng-container>
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Date" sortActionDescription="Sort by date">
                Date
            </th>
            <td mat-cell *matCellDef="let expense"> {{expense.date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Total" sortActionDescription="Sort by total">
                Total
            </th>
            <td mat-cell *matCellDef="let expense"> {{expense.total}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onTableRowClick(row)"
            class="expense-table"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>