<div class="authentication-card">
  <mat-card class="mx-auto m-2 container" fxLayout="column">
    <h1> Login </h1>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput required [(ngModel)]="username">
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint>Enter Username</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput required [(ngModel)]="password" type="password">
      <mat-icon matSuffix>keygen</mat-icon>
      <mat-hint>Enter Password</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="onclick()"
      disabled="{{ username == '' || password == '' || isProcessing }}">
      <section *ngIf="isProcessing" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5">
        <img src="../../../../assets/img/budgetlabs.png" class="logging-icon" />
        <span>
          Logging In...
        </span>
      </section>
      <section *ngIf="!isProcessing">
        Login
      </section>
    </button>
    <a href="/auth/signup" class="text-center m-2">
      Don't have an account? Sign up here.
    </a>
  </mat-card>
</div>